{% extends "layouts/main-beta.html" %} {% block pageTitle %} Question page
template – {{ serviceName }} – GOV.UK Prototype Kit {% endblock %} 
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="/public-beta-1/make-a-plan" method="post">
      {% from "govuk/components/radios/macro.njk" import govukRadios %} {% from
      "govuk/components/button/macro.njk" import govukButton %}

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="safety-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              About the adults who will care for the children
            </h1>
          </legend>

          <p class="govuk-body">
            We do not store this information or share it with other government
            departments.
          </p>

          <div class="govuk-form-group">
            <label class="govuk-label" for="initial-adult-name">
              Your first name
            </label>

            <div id="initial-adult-name-hint" class="govuk-hint">
              If you are answering these questions for someone else, enter their
              first name
            </div>

            <input
              class="govuk-input"
              id="initial-adult-name"
              name="initial-adult-name"
              type="text"
              aria-describedby="initial-adult-name-hint"
            />
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="secondary-adult-name">
              First name of the other parent or carer
            </label>

            <input
              class="govuk-input"
              id="secondary-adult-name"
              name="secondary-adult-name"
              type="text"
            />
          </div>
        </fieldset>
      </div>

      {{ govukButton({ text: "Continue", classes: "govuk-button--primary" }) }}
    </form>
  </div>
</div>

{% endblock %}
