{% extends "layouts/main-beta.html" %} {% block pageTitle %} Content page
template – {{ serviceName }} – GOV.UK Prototype Kit {% endblock %} 
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">You have downloaded your plan</h1>

    <p>
      <strong>What you need to do next:</strong> Check your downloads folder for
      a PDF or accessible HTML page of your plan and share with {{
      data['secondary-adult-name'] if data['secondary-adult-name'] else 'the
      other parent' }} who will get a chance to collaborate.
    </p>

    <h2 class="govuk-heading-m govuk-!-margin-top-6">If there's no response</h2>

    <p class="govuk-body">
      If Jackie does not respond or you can't make an agreement between
      yourselves, you could try mediation or another way of agreeing outside of
      court.
    </p>

    <p class="govuk-body">
      A mediator is a professional who will work with you to help you make
      decisions based on your child’s best interests. They listen to both of you
      and take a neutral approach.
    </p>
    <p class="govuk-body">
      <a
        href="https://www.gov.uk/looking-after-children-divorce/types-of-court-order"
        class="govuk-link"
        >Find out more about what to do if you cannot agree.</a
      >
    </p>
  </div>
</div>

{% endblock %}
