{% extends "layouts/main-beta.html" %}


{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}
{{ super() }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Explore: Applying for a court order
      </h1>

      <h2 class="govuk-heading-m">
        Why this could be right for you
      </h2>

      <p>
        You might decide to apply for a court order if:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>you cannot agree, even after trying options such as <a href="https://www.gov.uk/looking-after-children-divorce/mediation">mediation</a> or <a href="https://www.gov.uk/looking-after-children-divorce/non-court-dispute-resolution">getting help another way</a></li>
        <li>there's been domestic abuse or you or the children are at risk</li>
        <li>you cannot contact your ex-partner</li>
        <li>you're applying for a consent order to consider making your <a href="https://www.gov.uk/looking-after-children-divorce/make-child-arrangements-plan">parenting plan</a> legally binding</li>
      </ul>

      <h2 class="govuk-heading-m">
        Important things to consider
      </h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><strong>Mediation Information and Assessment Meeting (MIAM):</strong> You will usually need to show you have attended this short meeting with a mediator or tried another way to agree outside of court in the 4 months before you apply for a court order. If you cannot contact your ex-partner, you still need to attend the initial MIAM alone before applying to go to court, unless you are exempt. <a href="https://www.familymediationcouncil.org.uk/find-local-mediator/">Find a mediator on the Family Mediation Council website</a></li>
        <div class="govuk-inset-text">
        You can usually get a voucher worth up to £500 to pay for family mediation through the <a href="https://www.gov.uk/guidance/family-mediation-voucher-scheme">Family Mediation Voucher Scheme</a>, regardless of what you earn.
        </div>
        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-visually-hidden">Warning</span>
            <p><strong>You do not have to go to a MIAM before applying to court if you have a valid reason such as child protection concerns or evidence of domestic abuse.</strong></p>
            <p><strong><a href="https://apply-to-court-about-child-arrangements.service.justice.gov.uk/about/miam_exemptions">Find out more about valid reasons not to attend a MIAM</a></strong></p>
            You may be able to <a href="https://www.gov.uk/government/publications/urgent-court-hearings-about-child-arrangements-cb2/urgent-hearings-about-child-arrangements-cb2">apply for an urgent court hearing about child arrangements</a>
          </strong>
        </div>

        <li><strong>Cost:</strong> It costs £263 to apply for a court order. You may be able to <a href="https://www.gov.uk/legal-aid/financial-eligibility">get legal aid to help pay court fees</a> if you're on benefits or a low income.</li>
        <li><strong>Time:</strong> It usually takes around 10 months to get a court order, depending on where you live and your situation.</li>
      </ul>

      <h3 class="govuk-heading-m">
        Court orders you can apply for
      </h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>Child arrangements order: To decide where your child lives and the time they spend with each parent</li>
        <li>Specific issue order: To decide on a particular question relating to your child, like what school they should go to</li>
        <li>Prohibited steps order: To stop the other parent from making a particular decision about the child's upbringing without the agreement of the court </li>
      </ul>

       <p>
        <strong>Next step:</strong> <a href="https://www.gov.uk/looking-after-children-divorce/apply-for-court-order"> Apply for a court order</a>
      </p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">
        Other ways to agree without going to court
      </h2>

      <p>
        Court is the right option for some families. If you want to try another way to agree without going to court, you can look into:
      </p>

      <h3 class="govuk-heading-s">
        Mediation
      </h3>

      <p>
        This could suit you if: You'd like a professional to help you and your ex-partner agree on the details of a child arrangement. You do not have to be in the same room or video call as your ex-partner.
      </p>

      <p>
        Already tried mediation? You can always try again, for example if your situation or child's needs have changed.
      </p>

      <p>
        <a href="mediation">Explore: Mediation</a>
      </p>

      <h3 class="govuk-heading-s">
        Other options to explore
      </h3>

      <p>
        There are other ways to help you agree on child arrangements outside of court. These are sometimes known as 'non-court dispute resolution' (NCDR) and are usually quicker than going to court. The type you choose will depend on your circumstances, for example your financial situation, where you live and whether you're in contact with your ex-partner.
      </p>

      <p>
        <a href="https://www.gov.uk/looking-after-children-divorce/non-court-dispute-resolution"> Find out more about other ways to agree without going to court</a>
      </p>

      <h2 class="govuk-heading-m">
        Help and support
      </h2>
      <p>These are some of the services you may find helpful for applying for a court order.
      </p>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header"></th>
            <th scope="col" class="govuk-table__header"></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><a href="https://www.advicenow.org.uk/get-help/family-and-children/child-arrangements/what-do-you-apply-family-court-about-your-children"> Advicenow</a></th>
            <td class="govuk-table__cell">Information on what to do before applying for a court order from a charity that provides easy-to-understand information for people facing everyday legal issues with limited access to a lawyer.</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><a href="https://www.cafcass.gov.uk/parent-carer-or-family-member/my-family-involved-private-law-proceedings/court-process-and-what-expect">Children and Family Court Advisory and Support Service (Cafcass)</a></th>
            <td class="govuk-table__cell">Advice on the court process from Cafcass, which looks after the interests of children in family court cases in England.</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><a href="https://www.lawworks.org.uk/legal-advice-individuals">LawWorks</a></th>
            <td class="govuk-table__cell">A charity which connects volunteer lawyers with people needing legal advice, who aren't eligible for legal aid and can't afford to pay a lawyer.</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><a href="https://naccc.org.uk/for-parents/types-of-contact/">National Association of Child Contact Centres (NACCC)</a></th>
            <td class="govuk-table__cell">Information on services available for children to maintain or re-establish contact with a parent from a charity dedicated to providing safe spaces where children can meet the parents they don't live with.</td>
          </tr>
        </tbody>
      </table>

      <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Print this page
      </button>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="https://www.gov.uk/looking-after-children-divorce/make-child-arrangements-plan">
                Propose a child arrangements plan
              </a>
            </li>
            <li>
              <a href="https://www.gov.uk/looking-after-children-divorce">
                Making child arrangements if you divorce or separate
              </a>
            </li>
            <li>
              <a href="https://www.gov.uk/looking-after-children-divorce/apply-for-court-order">
                Apply for a court order
              </a>
            </li>
            <li>
              <a href="https://www.gov.uk/parental-rights-responsibilities">
                Parental rights and responsibilities
              </a>
            </li>
          </ul>
        </nav>
      </aside>
      {% from "govuk/components/exit-this-page/macro.njk" import govukExitThisPage %}

{{ govukExitThisPage() }}

    </div>
  </div>

{% endblock %}
