{% extends "layouts/main-beta.html" %} {% block pageTitle %} How will parents make
important decisions about the children's health – {{ serviceName }} – GOV.UK
Prototype Kit {% endblock %} 
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form
      class="form"
      action="/public-beta-1/health/health-decisions"
      method="post"
    >
      {% from "govuk/components/radios/macro.njk" import govukRadios %} {% from
      "govuk/components/textarea/macro.njk" import govukTextarea %} {% set
      otherArrangementHtml %} {{ govukTextarea({ id:
      "describe-health-arrangement", name: "data[healthDecisionsDetails]",
      label: { text: "Describe the arrangement" } }) }} {% endset %} {{
      govukRadios({ name: "data[healthDecisions]", fieldset: { legend: { text:
      "How will parents make important decisions about the children's health?",
      isPageHeading: true, classes: "govuk-fieldset__legend--l" } }, hint: {
      text: "Major decisions include things like changing their doctor or
      dentist, starting long-term medication, or planning non-urgent
      operations." }, items: [ { value: "parent1", text:
      data['initial-adult-name'] + " will decide" }, { value: "parent2", text:
      data['secondary-adult-name'] + " will decide" }, { value: "both", text:
      "Both parents will decide" }, { value: "other", text: "Other arrangement",
      conditional: { html: otherArrangementHtml } } ] }) }}

      <p class="govuk-body">
        <a
          href="/public-beta-1/health/health-needs?health-decisions-status=complete"
          class="govuk-link"
          >Skip this question</a
        >
      </p>

      <div class="govuk-button-group">
      <!-- This button goes to the main form action -->
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>
      <!-- This button ONLY shows if accountEmail is NOT in the session data -->
      {% if not data['accountEmail'] %}
        <button type="submit" formaction="/public-beta-1/login-new" class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Save and come back later
        </button>
      {% endif %}
      </div>

    </form>
  </div>
</div>

{% endblock %}
