{% extends "layouts/main.html" %}

{% block pageTitle %}
  What health needs should parents be aware of? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/public-beta-1/next-page" method="post">

      {% from "govuk/components/textarea/macro.njk" import govukTextarea %}

      {{ govukTextarea({
        name: "data[childrenHealthNeeds]",
        id: "health-needs",
        rows: "5",
        label: {
          text: "What health needs should parents be aware of?",
          classes: "govuk-label--l",
          isPageHeading: true
        },
        hint: {
          text: "This could include health routines, medical conditions, medicines, appointments, specialist support and additional support needs"
        }
      }) }}
      
      <p class="govuk-body govuk-!-margin-bottom-6">
        <a href="/public-beta-1/make-a-plan" class="govuk-link">Skip this question</a>
      </p>

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}
