{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--l" for="howchangeholidays">
                How will the arrangements be different in school holidays?
            </label>
          </h1>
          <div id="howchangeholidays-hint" class="govuk-hint">
              School holidays include half terms, bank holidays and inset days
          </div>
          <textarea class="govuk-textarea" id="howchangeholidays" name="howchangeholidays" rows="5" aria-describedby="howchangeholidays"></textarea>
        </div>
        
        <p><a href=/items-for-changeover>Skip this question</a></p>

      {{ govukButton({
        text: "Continue"
      }) }}

    </div>
  </div>

{% endblock %}
 
