{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--l" for="items">
                What items need to go between households?
            </label>
          </h1>
          <div id="howchangeholidays-hint" class="govuk-hint">
              Items include clothes, sports kit, school equipment, toys and electronics, medicines and personal care items such as toothbrushes
          </div>
          <textarea class="govuk-textarea" id="items" name="items" rows="5" aria-describedby="items"></textarea>
        </div>
        
        <p><a href=/items-for-changeover>Skip this question</a></p>

      {{ govukButton({
        text: "Continue"
      }) }}

    </div>
  </div>

{% endblock %}
 
