{% extends "layouts/main.html" %} {% block pageTitle %} Question page template –
{{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block containerStart
%} {{ govukBackLink({ text: "Back", href: "javascript:window.history.back()" })
}} {% endblock %} {% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- Points directly to your sub-router route path -->
    <form
      class="form"
      action="/public-beta-1/handover-and-holidays/items-for-changeover"
      method="post"
    >
      {% from "govuk/components/textarea/macro.njk" import govukTextarea %} {%
      from "govuk/components/button/macro.njk" import govukButton %} {{
      govukTextarea({ name: "itemschangeover", id: "items", rows: "5", label: {
      text: "What items need to go between households?", classes:
      "govuk-label--l", isPageHeading: true }, hint: { text: "Items include
      clothes, sports kit, school equipment, toys and electronics, medicines and
      personal care items such as toothbrushes" } }) }}

      <p class="govuk-body govuk-!-margin-bottom-6">
        <a
          href="/public-beta-1/handover-and-holidays/travel-abroad?items-between-households-status=complete"
          class="govuk-link"
        >
          Skip this question
        </a>
      </p>

      <!-- Removed the href attribute entirely so it submits the form correctly -->
      {{ govukButton({ text: "Continue" }) }}
    </form>
  </div>
</div>
{% endblock %}
