{% extends "layouts/main.html" %}

{% block pageTitle %}
  Your application has been saved – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{# No back link on a confirmation or success screen per GDS guidelines #}
{% block containerStart %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/public-beta-1/login-sign-in" method="post">

      <h1 class="govuk-heading-l govuk-!-margin-bottom-6">You have signed out</h1>

      <p class="govuk-body">
        You can return to a saved draft using the link in the email or by logging in from the start page.
      </p>

      <p class="govuk-body">
        A draft expires <strong>28 days</strong> after it was created. Any information will be automatically deleted after this time.
      </p>

      <p class="govuk-body govuk-!-margin-bottom-6">
        You can save and return to continue your application at any time.
      </p>

      {# Sign in action button #}
      {{ govukButton({
        text: "Sign in"
      }) }}

    </form>

  </div>
</div>

{% endblock %}
