{% extends "layouts/main.html" %}

{% block pageTitle %}
Start or continue making a child arrangements plan – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form class="form" action="/public-beta-1/login-start" method="post">
          
          {% from "govuk/components/radios/macro.njk" import govukRadios %}

          {{ govukRadios({
            name: "loginStart",
            fieldset: {
              legend: {
                text: "Start or continue making a child arrangements plan",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            items: [
              {
                value: "new",
                text: "Start a new application"
              },
              {
                value: "signin",
                text: "Sign in to continue an application"
              },
              {
                value: "onelogin",
                text: "Sign in with GOV.UK OneLogin"
              }
            ]
          }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
