{% extends "layouts/main-beta.html" %} {% block pageTitle %} Content page
template – {{ serviceName }} – GOV.UK Prototype Kit {% endblock %} 
{% block content %}

<!-- 1. Global validation tracking variable across all required sections -->
{% set allSectionsComplete = (data['wherechildrenlive'] and
data['wherechildrenlive'] !== "") and (data['getbetweenhouseholds'] or
data['skipHouseholds'] == 'true' or data['get-between-households-status'] ==
'complete') and (data['wherehandover'] or data['skipWhereHandover'] == 'true' or
data['where-handover-status'] == 'complete') and (data['school-holidays-status']
== 'complete') and (data['items-between-households-status'] == 'complete') and
(data['special-days-status'] == 'complete') and (data['other-things-status'] ==
'complete') and (data['decision-last-minute-status'] == 'complete') and
(data['decision-long-term-status'] == 'complete') and
(data['decision-review-status'] == 'complete') and (data['travel-abroad-status']
== 'complete') and (data['education-info-status'] == 'complete') and
(data['education-involved-status'] == 'complete') and
(data['health-decisions-status'] == 'complete') and (data['health-needs-status']
== 'complete') and (data['rules-behaviour-status'] == 'complete') %}

<main class="govuk-main-wrapper app-container govuk-body" id="main-content">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Child arrangements plan for {{ data['child-name0'] }} and {{
        data['child-name1'] }}
      </h1>

      <p class="govuk-body">
        Your session automatically ends if you don’t use the service for 120
        minutes.
      </p>

      <h2 class="govuk-heading-m">Who the plan is for</h2>

      <ul class="govuk-task-list">
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a
              class="govuk-link govuk-task-list__link"
              href="/public-beta-1/number-of-children"
              aria-describedby="whoThePlanIsFor-taskList-1-status"
            >
              The children
            </a>
          </div>
          <div
            class="govuk-task-list__status"
            id="whoThePlanIsFor-taskList-1-status"
          >
            Completed
          </div>
        </li>

        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a
              class="govuk-link govuk-task-list__link"
              href="/public-beta-1/about-the-adults"
              aria-describedby="whoThePlanIsFor-taskList-2-status"
            >
              Who is using this service?
            </a>
          </div>
          <div
            class="govuk-task-list__status"
            id="whoThePlanIsFor-taskList-2-status"
          >
            Completed
          </div>
        </li>
      </ul>

      <h2 class="govuk-heading-m">Living and visiting</h2>

      <ul class="govuk-task-list">
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a
              class="govuk-link govuk-task-list__link"
              href="/public-beta-1/living-and-visiting/where-will-the-children-mostly-live"
              aria-describedby="livingAndVisiting-taskList-1-status"
            >
              Where will the children spend most of their time?
            </a>
          </div>
          <div
            class="govuk-task-list__status"
            id="livingAndVisiting-taskList-1-status"
          >
            {# Check that the variable exists and is not blank #} {% if
            data['wherechildrenlive'] and data['wherechildrenlive'] !== "" %}
            Completed {% else %}
            <strong class="govuk-tag govuk-tag--blue"> Incomplete </strong>
            {% endif %}
          </div>
        </li>
      </ul>

      <h2 class="govuk-heading-m">Handovers and holidays</h2>

      <ul class="govuk-task-list">
        <!-- Task 1: Get Between Households (Prerequisite) -->
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a
              class="govuk-link govuk-task-list__link"
              href="/public-beta-1/handover-and-holidays/get-between-households"
              aria-describedby="handoverAndHolidays-taskList-1-status"
            >
              Who will usually collect the children when they move between
              households?
            </a>
          </div>
          <div
            class="govuk-task-list__status"
            id="handoverAndHolidays-taskList-1-status"
          >
            {% if data['getbetweenhouseholds'] or data['skipHouseholds'] ==
            'true' or data['get-between-households-status'] == 'complete' %}
            Completed {% else %}
            <strong class="govuk-tag govuk-tag--blue">Incomplete</strong>
            {% endif %}
          </div>
        </li>

        <!-- Task 2: Where Handover Takes Place -->
        {% set step1Complete = data['getbetweenhouseholds'] or
        data['skipHouseholds'] == 'true' or
        data['get-between-households-status'] == 'complete' %} {% if not
        step1Complete %}
        <li class="govuk-task-list__item">
          <div class="govuk-task-list__name-and-hint">
            <div>Where does handover take place?</div>
          </div>
          <div
            class="govuk-task-list__status govuk-task-list__status--cannot-start-yet"
            id="handoverAndHolidays-taskList-2-status"
          >
            Cannot start yet
          </div>
        </li>
        {% else %}
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a
              class="govuk-link govuk-task-list__link"
              href="/public-beta-1/handover-and-holidays/where-handover"
              aria-describedby="handoverAndHolidays-taskList-2-status"
            >
              Where does handover take place?
            </a>
          </div>
          <div
            class="govuk-task-list__status"
            id="handoverAndHolidays-taskList-2-status"
          >
            {% if data['wherehandover'] or data['skipWhereHandover'] == 'true'
            or data['where-handover-status'] == 'complete' %} Completed {% else
            %}
            <strong class="govuk-tag govuk-tag--blue">Incomplete</strong>
            {% endif %}
          </div>
        </li>
        {% endif %}

        <!-- Task 3: School Holidays -->
        {% set step2Complete = data['wherehandover'] or
        data['skipWhereHandover'] == 'true' or data['where-handover-status'] ==
        'complete' %} {% if (not step1Complete) or (not step2Complete) %}
        <li class="govuk-task-list__item">
          <div class="govuk-task-list__name-and-hint">
            <div>Will these arrangements change during school holidays?</div>
          </div>
          <div
            class="govuk-task-list__status govuk-task-list__status--cannot-start-yet"
            id="handoverAndHolidays-taskList-3-status"
          >
            Cannot start yet
          </div>
        </li>
        {% else %}
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a
              class="govuk-link govuk-task-list__link"
              href="/public-beta-1/handover-and-holidays/will-change-during-school-holidays"
              aria-describedby="handoverAndHolidays-taskList-3-status"
            >
              Will these arrangements change during school holidays?
            </a>
          </div>
          <div
            class="govuk-task-list__status"
            id="handoverAndHolidays-taskList-3-status"
          >
            {# Evaluates explicitly setting a status variable #} {% if
            data['school-holidays-status'] == 'complete' %} Completed {% else %}
            <strong class="govuk-tag govuk-tag--blue">Incomplete</strong>
            {% endif %}
          </div>
        </li>
        {% endif %}

        <!-- Task 4: Items Between Households -->
        {% set step3Complete = data['school-holidays-status'] == 'complete' %}
        {% if (not step1Complete) or (not step2Complete) or (not step3Complete)
        %}
        <li class="govuk-task-list__item">
          <div class="govuk-task-list__name-and-hint">
            <div>What items need to go between households?</div>
          </div>
          <div
            class="govuk-task-list__status govuk-task-list__status--cannot-start-yet"
            id="handoverAndHolidays-taskList-4-status"
          >
            Cannot start yet
          </div>
        </li>
        {% else %}
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a
              class="govuk-link govuk-task-list__link"
              href="/public-beta-1/handover-and-holidays/items-for-changeover"
              aria-describedby="handoverAndHolidays-taskList-4-status"
            >
              What items need to go between households?
            </a>
          </div>
          <div
            class="govuk-task-list__status"
            id="handoverAndHolidays-taskList-4-status"
          >
            {# Evaluates explicitly setting a status variable #} {% if
            data['items-between-households-status'] == 'complete' %} Completed
            {% else %}
            <strong class="govuk-tag govuk-tag--blue">Incomplete</strong>
            {% endif %}
          </div>
        </li>
        {% endif %}

        <!-- Task 5: Arrangements should be made for the child to travel abroad -->
        {# Updated dependencies to look for the correct page status tags #} {%
        set step1Complete = data['getbetweenhouseholds'] or
        data['skipHouseholds'] == 'true' or
        data['get-between-households-status'] == 'complete' %} {% set
        step2Complete = data['wherehandover'] or data['skipWhereHandover'] ==
        'true' or data['where-handover-status'] == 'complete' %} {% set
        step3Complete = data['school-holidays-status'] == 'complete' %} {% set
        step4Complete = data['items-between-households-status'] == 'complete' %}
        {% if (not step1Complete) or (not step2Complete) or (not step3Complete)
        or (not step4Complete) %}
        <li class="govuk-task-list__item">
          <div class="govuk-task-list__name-and-hint">
            <div>
              What arrangements should be made for the child to travel abroad?
            </div>
          </div>
          <div
            class="govuk-task-list__status govuk-task-list__status--cannot-start-yet"
            id="handoverAndHolidays-taskList-4-status"
          >
            Cannot start yet
          </div>
        </li>
        {% else %}
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a
              class="govuk-link govuk-task-list__link"
              href="/public-beta-1/handover-and-holidays/travel-abroad"
              aria-describedby="handoverAndHolidays-taskList-4-status"
            >
              What arrangements should be made for the child to travel abroad?
            </a>
          </div>
          <div
            class="govuk-task-list__status"
            id="handoverAndHolidays-taskList-4-status"
          >
            {% if data['travel-abroad-status'] == 'complete' %} Completed {%
            else %}
            <strong class="govuk-tag govuk-tag--blue">Incomplete</strong>
            {% endif %}
          </div>
        </li>
        {% endif %}
      </ul>
      <h2 class="govuk-heading-m">Education</h2>

      <ul class="govuk-task-list">
        <!-- Task 1: School Information Sharing -->
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a
              class="govuk-link govuk-task-list__link"
              href="/public-beta-1/education/school-information"
              aria-describedby="schoolInformation-taskList-1-status"
            >
              How should information from the school be shared with parents?
            </a>
          </div>
          <div
            class="govuk-task-list__status"
            id="schoolInformation-taskList-1-status"
          >
            {# Now checks unique education status variable #} {% if
            data['education-info-status'] == 'complete' %} Completed {% else %}
            <strong class="govuk-tag govuk-tag--blue">Incomplete</strong>
            {% endif %}
          </div>
        </li>

        <!-- Task 2: Parents Involved in Activities -->
        {# Lock status relies on the unique education task 1 flag #} {% set
        step1EducationComplete = data['education-info-status'] == 'complete' %}
        {% if not step1EducationComplete %}
        <li class="govuk-task-list__item">
          <div class="govuk-task-list__name-and-hint">
            <div>
              How will parents be involved in the children’s education and
              school activities?
            </div>
          </div>
          <div
            class="govuk-task-list__status govuk-task-list__status--cannot-start-yet"
            id="parents-involved-taskList-2-status"
          >
            Cannot start yet
          </div>
        </li>
        {% else %}
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            {# Corrected destination link to match the education sub-folder
            directory pathway #}
            <a
              class="govuk-link govuk-task-list__link"
              href="/public-beta-1/education/parents-involved"
              aria-describedby="parents-involved-taskList-2-status"
            >
              How will parents be involved in the children’s education and
              school activities?
            </a>
          </div>
          <div
            class="govuk-task-list__status"
            id="parents-involved-taskList-2-status"
          >
            {# Checks unique education task 2 status variable #} {% if
            data['education-involved-status'] == 'complete' %} Completed {% else
            %}
            <strong class="govuk-tag govuk-tag--blue">Incomplete</strong>
            {% endif %}
          </div>
        </li>
        {% endif %}
      </ul>

      <h2 class="govuk-heading-m">Health</h2>

      <ul class="govuk-task-list">
        <!-- Task 1: Health Decisions -->
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a
              class="govuk-link govuk-task-list__link"
              href="/public-beta-1/health/health-decisions"
              aria-describedby="healthDecisions-taskList-1-status"
            >
              How will parents make important decisions about the children’s
              health?
            </a>
          </div>
          <div
            class="govuk-task-list__status"
            id="healthDecisions-taskList-1-status"
          >
            {# Checks the unique health decisions tracking flag #} {% if
            data['health-decisions-status'] == 'complete' %} Completed {% else
            %}
            <strong class="govuk-tag govuk-tag--blue">Incomplete</strong>
            {% endif %}
          </div>
        </li>

        <!-- Task 2: Health Needs -->
        {# Locks Task 2 until Task 1 of the Health flow is Complete #} {% set
        step1HealthComplete = data['health-decisions-status'] == 'complete' %}
        {% if not step1HealthComplete %}
        <li class="govuk-task-list__item">
          <div class="govuk-task-list__name-and-hint">
            <div>What health needs should parents be aware of?</div>
          </div>
          <div
            class="govuk-task-list__status govuk-task-list__status--cannot-start-yet"
            id="health-needs-taskList-2-status"
          >
            Cannot start yet
          </div>
        </li>
        {% else %}
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a
              class="govuk-link govuk-task-list__link"
              href="/public-beta-1/health/health-needs"
              aria-describedby="health-needs-taskList-2-status"
            >
              What health needs should parents be aware of?
            </a>
          </div>
          <div
            class="govuk-task-list__status"
            id="health-needs-taskList-2-status"
          >
            {# Checks the unique health needs tracking flag #} {% if
            data['health-needs-status'] == 'complete' %} Completed {% else %}
            <strong class="govuk-tag govuk-tag--blue">Incomplete</strong>
            {% endif %}
          </div>
        </li>
        {% endif %}
      </ul>

      <h2 class="govuk-heading-m">Special days</h2>

      <ul class="govuk-task-list">
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a
              class="govuk-link govuk-task-list__link"
              href="/public-beta-1/special-days/what-will-happen"
              aria-describedby="specialDays-taskList-1-status"
            >
              What will happen on special days?
            </a>
          </div>
          <div
            class="govuk-task-list__status"
            id="specialDays-taskList-1-status"
          >
            {# Evaluates the status variable flag #} {% if
            data['special-days-status'] == 'complete' %} Completed {% else %}
            <strong class="govuk-tag govuk-tag--blue"> Incomplete </strong>
            {% endif %}
          </div>
        </li>
      </ul>

      <h2 class="govuk-heading-m">Other things</h2>

      <ul class="govuk-task-list">
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a
              class="govuk-link govuk-task-list__link"
              href="/public-beta-1/other-things/what-other-things-matter"
              aria-describedby="otherThings-taskList-1-status"
            >
              What other things matter to your children?
            </a>
          </div>
          <div
            class="govuk-task-list__status"
            id="otherThings-taskList-1-status"
          >
            {# Evaluates the status variable flag #} {% if
            data['other-things-status'] == 'complete' %} Completed {% else %}
            <strong class="govuk-tag govuk-tag--blue"> Incomplete </strong>
            {% endif %}
          </div>
        </li>
      </ul>

      <h2 class="govuk-heading-m">Decision making</h2>

      <ul class="govuk-task-list">
        <!-- Task 1: Rules and behaviour -->
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a
              class="govuk-link govuk-task-list__link"
              href="/public-beta-1/decision-making/rules-behaviour"
              aria-describedby="rulesBehaviour-taskList-1-status"
            >
              How will rules and behaviour be managed?
            </a>
          </div>
          <div
            class="govuk-task-list__status"
            id="rulesBehaviour-taskList-1-status"
          >
            {# Uses its own unique tracking flag #} {% if
            data['rules-behaviour-status'] == 'complete' %} Completed {% else %}
            <strong class="govuk-tag govuk-tag--blue">Incomplete</strong>
            {% endif %}
          </div>
        </li>

        <!-- Task 2: Last-minute Changes -->
        {% set step1DecisionComplete = data['rules-behaviour-status'] ==
        'complete' %} {% if not step1DecisionComplete %}
        <li class="govuk-task-list__item">
          <div class="govuk-task-list__name-and-hint">
            <div>How should last-minute changes be communicated?</div>
          </div>
          <div
            class="govuk-task-list__status govuk-task-list__status--cannot-start-yet"
            id="decisionMaking-taskList-1-status"
          >
            Cannot start yet
          </div>
        </li>
        {% else %}
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a
              class="govuk-link govuk-task-list__link"
              href="/public-beta-1/decision-making/plan-last-minute-changes"
              aria-describedby="decisionMaking-taskList-1-status"
            >
              How should last-minute changes be communicated?
            </a>
          </div>
          <div
            class="govuk-task-list__status"
            id="decisionMaking-taskList-1-status"
          >
            {% if data['decision-last-minute-status'] == 'complete' %} Completed
            {% else %}
            <strong class="govuk-tag govuk-tag--blue">Incomplete</strong>
            {% endif %}
          </div>
        </li>
        {% endif %}

        <!-- Task 3: Notice for Long-term Changes -->
        {% set step2DecisionComplete = data['decision-last-minute-status'] ==
        'complete' %} {% if (not step1DecisionComplete) or (not
        step2DecisionComplete) %}
        <li class="govuk-task-list__item">
          <div class="govuk-task-list__name-and-hint">
            <div>
              How much notice should you give to change long-term arrangements?
            </div>
          </div>
          <div
            class="govuk-task-list__status govuk-task-list__status--cannot-start-yet"
            id="decisionMaking-taskList-2-status"
          >
            Cannot start yet
          </div>
        </li>
        {% else %}
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a
              class="govuk-link govuk-task-list__link"
              href="/public-beta-1/decision-making/plan-long-term-notice"
              aria-describedby="decisionMaking-taskList-2-status"
            >
              How much notice should you give to change long-term arrangements?
            </a>
          </div>
          <div
            class="govuk-task-list__status"
            id="decisionMaking-taskList-2-status"
          >
            {% if data['decision-long-term-status'] == 'complete' %} Completed
            {% else %}
            <strong class="govuk-tag govuk-tag--blue">Incomplete</strong>
            {% endif %}
          </div>
        </li>
        {% endif %}

        <!-- Task 4: Review the Plan -->
        {% set step3DecisionComplete = data['decision-long-term-status'] ==
        'complete' %} {% if (not step1DecisionComplete) or (not
        step2DecisionComplete) or (not step3DecisionComplete) %}
        <li class="govuk-task-list__item">
          <div class="govuk-task-list__name-and-hint">
            <div>When would you like to review this plan?</div>
          </div>
          <div
            class="govuk-task-list__status govuk-task-list__status--cannot-start-yet"
            id="decisionMaking-taskList-3-status"
          >
            Cannot start yet
          </div>
        </li>
        {% else %}
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a
              class="govuk-link govuk-task-list__link"
              href="/public-beta-1/decision-making/plan-review"
              aria-describedby="decisionMaking-taskList-3-status"
            >
              When would you like to review this plan?
            </a>
          </div>
          <div
            class="govuk-task-list__status"
            id="decisionMaking-taskList-3-status"
          >
            {% if data['decision-review-status'] == 'complete' %} Completed {%
            else %}
            <strong class="govuk-tag govuk-tag--blue">Incomplete</strong>
            {% endif %}
          </div>
        </li>
        {% endif %}
      </ul>

      <!-- 2. Conditionally display your exact button layout markup -->
      {% if allSectionsComplete %}
      <div class="govuk-!-margin-top-5">
        <a
          href="/public-beta-1/check-your-answers"
          role="button"
          draggable="false"
          class="govuk-button"
          data-module="govuk-button"
        >
          Continue
        </a>
      </div>
      {% endif %}
    </div>
  </div>
</main>

{% endblock %}
