{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/plan-long-term-notice" method="post">

          {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
          {% from "govuk/components/textarea/macro.njk" import govukTextarea %}

          {# 1. Define the conditionally revealed free text box (Using a unique variable name) #}
          {% set anotherArrangementHtml %}
            {{ govukTextarea({
              id: "plan-changes-details",
              name: "data[planChangesDetails]",
              label: {
                text: "Describe the arrangement"
              }
            }) }}
          {% endset %}

          {# 2. Render the checkboxes #}
          {{ govukCheckboxes({
            name: "data[planChanges]",
            fieldset: {
              legend: {
                text: "How should last-minute changes be communicated?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
              html: "
                <p class='govuk-body govuk-hint'>There will be times when plans will need to change, such as if one parent is suddenly unwell and cannot collect a child from school.</p>
                <p class='govuk-hint'>Select all that apply</p>
              "
            },
            items: [
              {
                value: "text",
                text: "By text message"
              },
              {
                value: "call",
                text: "With a phone call"
              },
              {
                value: "email",
                text: "By email"
              },
              {
                value: "app",
                text: "Using a parenting app"
              },
              {
                value: "another",
                text: "Another arrangement",
                conditional: {
                  html: anotherArrangementHtml
                }
              }
            ]
          }) }}

        {# 3. Skip link and Action button #}
        <p class="govuk-body govuk-!-margin-bottom-6">
          <a href="/plan-long-term-notice" class="govuk-link">Skip this question</a>
        </p>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
