{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/items-for-changeover" method="post">

      {% from "govuk/components/textarea/macro.njk" import govukTextarea %}

      {{ govukTextarea({
        name: "data[travelAbroadArrangements]",
        id: "travelabroad",
        rows: "5",
        label: {
          text: "What arrangements should be made for the children to travel abroad?",
          classes: "govuk-label--l",
          isPageHeading: true
        },
        hint: {
          text: "This could include agreeing to travel, sharing travel and accommodation details, emergency contact information, and passport arrangements"
        }
      }) }}
        
      <p class="govuk-body govuk-!-margin-bottom-6">
        <a href="/items-for-changeover" class="govuk-link">Skip this question</a>
      </p>

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}
