{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/public-beta-1/which-days-overnight" method="post">

          {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
          {% from "govuk/components/textarea/macro.njk" import govukTextarea %}

          {# 1. Define the conditionally revealed free text box #}
          {% set anotherArrangementHtml %}
            {{ govukTextarea({
              id: "describe-arrangement",
              name: "data[describeArrangement]",
              label: {
                text: "Describe the arrangement"
              }
            }) }}
          {% endset %}

          {# 2. Pass the conditional HTML into the 'another' item #}
          {{ govukCheckboxes({
            name: "data[daytimedays]",
            fieldset: {
              legend: {
                text: "On which days will daytime visits happen?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
              text: "Select all that apply"
            },
            items: [
              {
                value: "monday",
                text: "Monday"
              },
              {
                value: "tuesday",
                text: "Tuesday"
              },
              {
                value: "wednesday",
                text: "Wednesday"
              },
              {
                value: "thursday",
                text: "Thursday"
              },
              {
                value: "friday",
                text: "Friday"
              },
              {
                value: "saturday",
                text: "Saturday"
              },
              {
                value: "sunday",
                text: "Sunday"
              },
              {
                divider: "or"
              },
              {
                value: "another",
                text: "Another arrangement",
                behaviour: "exclusive",
                conditional: {
                  html: anotherArrangementHtml
                }
              }
            ]
          }) }}
          
          <p><a href=/make-a-plan>Skip this question</a></p>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
