{% extends "layouts/main-beta.html" %} {% block pageTitle %} Question page template –
{{ serviceName }} – GOV.UK Prototype Kit {% endblock %} 
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- Action updated to a clean routing URL path -->
    <form
      class="form"
      action="/public-beta-1/living-and-visiting/will-overnights-happen"
      method="post"
    >
      {% from "govuk/components/radios/macro.njk" import govukRadios %} {# Set
      up dynamic name text string based on prior question selection #} {% if
      data['wherechildrenlive'] == 'name1' %} {% set parentName =
      data['initial-adult-name'] %} {% elif data['wherechildrenlive'] == 'name2'
      %} {% set parentName = data['secondary-adult-name'] %} {% else %} {% set
      parentName = "the other parent" %} {% endif %} {{ govukRadios({ name:
      "overnight", fieldset: { legend: { text: "Will the children stay overnight
      with " + parentName + "?", isPageHeading: true, classes:
      "govuk-fieldset__legend--l" } }, items: [ { value: "yes", text: "Yes" }, {
      value: "no", text: "No" } ] }) }} 
      
      <div class="govuk-button-group">
      <!-- This button goes to the main form action -->
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>
      <!-- This button ONLY shows if accountEmail is NOT in the session data -->
      {% if not data['accountEmail'] %}
        <button type="submit" formaction="/public-beta-1/login-new" class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Save and come back later
        </button>
      {% endif %}
      </div>
    
    </form>
  </div>
</div>

{% endblock %}
