{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          name: "changeholidays",
          fieldset: {
            legend: {
              text: "Will these arrangements change during school holidays?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}
        
        <p><a href=/items-for-changeover>Skip this question</a></p>

      {{ govukButton({
        text: "Continue"
      }) }}

    </div>
  </div>

{% endblock %}
 
